.nav-menu {
  text-align: right;
}
.nav-spacing {
  margin: 0 0 0 10px;
}
.image-link {
  text-decoration: none;
}
.header-text {
  text-align: center; margin: 0 0 80px;
}
.image-middle-align {
  display: block; margin: 0 auto;
}
.text-middle-align {
  width: 500px; margin: 20px auto; padding: 30px; background-color: #fafafa
}
.blockquote-style {
  padding: 2px 20px; background-color: #d3d3d3;
}
